<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaternityHospital.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<connectionStrings>
		<add name="DatabaseConnection"
			 connectionString="Data Source=maternity.db"/>
		<add name="DatabaseConnectionTemplate"
			 connectionString="Data Source=template.db"/>
		<add name="DatabaseConnectionArchive"
			 connectionString="Data Source=archive.db"/>
	</connectionStrings>
	<appSettings>
		<add key="CurrentDoctor" value="???"/>
		<add key="CurrentFontSize" value="22"/>
		<add key="PercentileCorridorsFileName" value="data/percentileCorridors.csv"/>
		<add key="AppSettings" value="data/settings.json"/>
	</appSettings>
</configuration>